@import "tailwindcss";

@layer base {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    div {
        box-sizing: border-box;
    }
}

